/* General */

#odin-recipes-container {
    width: 100%;
    background-color:lightcyan;
    font-family:Georgia, 'Times New Roman', Times, serif;

    #top-of-page-container {
        background-color: lightblue;
        text-align: center;
        font-size: 100px;
        font-weight: 700;
        padding-bottom: 10px;
    }

    #main-content-container {

        .intro{
            font-size: 20px;
            text-align: center;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        #content-header {
            font-size: 40px;
            font-weight: 700;
        }
    }

}
/* Index Only */